@import "../../node_modules/placeholder-loading/src/scss/placeholder-loading.scss";

.post-title {
    word-break: break-all;
}

div.ph-row > div {
    background-color: #f4f4f4;
}

div.body {
    background-image: url(../assets/map.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 0%;
}

a.card {
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.2);
}

img.brand {
    width: 300px;
}

card.post-list-header {
    border-radius: 0;
}

img.avatar {
    border-radius: 50%;
}
