@import '../../node_modules/placeholder-loading/src/scss/placeholder-loading.scss';

.post-title {
    word-break: break-all;
}

div.ph-row > div {
    background-color: #f4f4f4;
}

div.body {
    background-image: url(../assets/map.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 0%;
}

a.card {
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.2);
}

img.brand {
    width: 100%;
    max-width: 280px;
}

card.post-list-header {
    border-radius: 0;
}

img.avatar {
    border-radius: 50%;
}

.nav-item {
    word-wrap: none;
    white-space: nowrap;
    white-space: pre;
}

/* The side navigation menu */
.sidenav {
    overflow: hidden;
    word-wrap: none;
    white-space: nowrap;
    white-space: pre;
    height: 100%; /* 100% Full-height */
    // width: 200; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
